In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'

In [12]:
train_raw = pd.read_csv('train.dat', header=None,
            names=["uid", "iid", "rating", "ts"], sep='\t', engine='python')
train_raw

       uid   iid  rating         ts
0      905   470       1  889325071
1      697  1518       5  879835275
2      855  1687       5  875638677
3      950  1447       5  877420720
4      806  1170       4  879889337
...    ...   ...     ...        ...
85719  205  1136       1  884142487
85720  708  1497       4  881473612
85721  167  1036       3  875492395
85722  508  1528       3  880337585
85723   76  1586       3  886695894

[85724 rows x 4 columns]

In [13]:
test = pd.read_csv('test.dat', header=None,
            names=["uid", "iid"], sep='\t', engine='python')
test_raw

      uid   iid
0     158   951
1     521  1202
2      98  1556
3     292  1583
4      68  1064
...   ...   ...
2149  537  1414
2150  618  1448
2151  154  1519
2152  154  1429
2153  826  1602

[2154 rows x 2 columns]

In [8]:
from pyspark.ml.feature import BucketedRandomProjectionLSH
from pyspark.ml.linalg import Vectors
from pyspark.sql.functions import col

In [16]:
train, valid = train_test_split(train_raw, test_size=0.2)

NameError: name 'train_test_split' is not defined